

html {
	background: url("../img/bgOpacity50.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
} 
body {
	
}


.is-invisible {
	visibility: hidden;
}

.is-hidden {
	display: none;
}

.disabled {
	pointer-events:none;
}

.correct {
	background-color: #52cc2d;
}

.incorrect {
	background-color: #da1d1d;
}

.transparent-container {
	padding: 30px 50px;
}

.task-part-container {
	margin-top: 40px;
}

.error-message {
	color: red;
	font-size: 22px;
	margin: 15px 0;
	font-weight: bold;
}

.congratulations-message {
	color: green;
	font-size: 22px;
	margin: 15px 0;
	font-weight: bold;
}

.img-tall img {
	height: 300px;
	margin-bottom: 20px;
	margin-right: 10px;
	border: 2px solid black;
}

.img-short img {
	width: 250px;
	margin-right: 5px;
}

.img-short2 img {
	width: 377px;
	margin-right: 5px;
}

.vertical {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 30px;
}


.horizontal {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 30px;
}


.operation {
	display: flex;
	flex-direction: row;
	
}

.step-task-container {
	padding: 35px 0;
}

.title {
	
}

.content {
	
}

input {
	border: 4px solid #0094bb;
	background-color: white;
	height: 40px;
	width: 50px;
	font-size: 20px;
	text-align: center;
}

.frame {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 4px solid #0094bb;
	background-color: #cecece;
	height: 40px;
	width: 50px;
	font-size: 20px;
	text-align: center;
	pointer-events:none;
}

.math-symbol {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 20px;
	font-size: 30px;
	height: 50px;
}

ul {
 list-style-type: none;
 padding: 0;
 }
 
 li {
	 margin-bottom: 10px;
 }
 
button {
	text-transform: uppercase;
	border: 2px solid #0094bb;
	border-radius: 4px;	 
	background-color: white;
	height: 50px;
	width: 150px;
	font-size: 20px;
}

 
button:hover{
	background-color: #0094bb;
	border-color:  #ffffff;
	color: #ffffff;
}
 
.significant-1 {
	color: #e92ebf;
	font-size: 22px;
	font-weight: 900;
}

.significant-2 {
	color: #7420ff;
	font-size: 22px;
	font-weight: 900;
}





 
 